<div class="row">
    <div class=" col-6 m-auto">
        <div class="card m-auto">
            <div class="card-header">
                Login
            </div>
            <div class="card-body">
                <form  #loginForm='ngForm' (ngSubmit)="onLogin(loginForm)">
                    <div class="form-group col-12">
                        <label></label>
                        <input class="form-control" #propName="ngModel"  placeholder="Email" required email ngModel name="email" >
                        <div *ngIf="!propName.valid && propName.touched" class="alert alert-danger">
                            <div *ngIf="propName.errors?.required" class="text-danger">Email is required </div> 
                            <div *ngIf="propName.errors?.email" class="text-danger">Enter valid Email address </div>
                            
                        </div>
                        
                    </div>
                    <div class="form-group col-12">
                            <label></label>
                            <input type="password"  #passName="ngModel" placeholder="Password" class="form-control" required minlength="8" ngModel name="password">
                            <div *ngIf="!passName.valid && passName.touched" class="alert alert-danger">
                                <div *ngIf="passName.errors?.required" class="text-danger">Enter Password</div> 
                                <div *ngIf="passName.errors?.minlength" class="text-danger">Password should be 8 characters or more </div>
                            </div>
                        </div>
                    <div class="form-group col-12">
                        <button type="submit" class="btn btn-primary mr-4">login</button>
                        <button type="button" class="btn btn-secondary m-2">cancel</button>
                         
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>






<!-- <div class="row">
    <div class="col-sm-12 col-md-6 m-auto">
        <div class="card m-auto">
            <div class="card-header text-white bg-secondary">
                Login
            </div>

            <div class="card-body">
                <form [formGroup]="loginForm">

                    <div class="form-group col-12">
                        <input type="text" class="form-control" formControlName="email" placeholder="Email" [class.is-invalid]="email!.invalid && email!.touched">
                        <div *ngIf="email!.invalid && email!.touched" class="alert alert-danger">
                            <small *ngIf="email!.errors?.required" class="text-danger">Email is required</small>
                            <small *ngIf="email!.errors?.email" class="text-danger">Email must be in proper format</small>
                        </div>                        
                    </div>

                    <div class="form-group col-12">
                        <input type="text" class="form-control" placeholder="Password" formControlName="password" [class.is-invalid]="password!.invalid && password!.touched">
                        <div *ngIf="password!.invalid && password!.touched" class="alert alert-danger">
                            <small *ngIf="password!.errors?.required" class="text-danger">Password is required</small>
                            <small *ngIf="password!.errors?.minlength" class="text-danger">Password must be alteast 8 characters</small>
                        </div>                        
                    </div>

                    <div class="form-group col-12 m-2">
                        <button type="submit" class="btn btn-primary m-1" (click)="onSubmit()">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->