


<div class="card border-info card-personal-wrapper">
  <div class="card-header">name{{policyId}}</div>
  <div class="card-body">
    <h5 class="card-title">type</h5>
  <h6 class="card-subtitle mb-2 text-muted">Get upto Rs.sum insured as sum insured</h6>
  <p class="card-text">desc</p>

  <button class="btn btn-primary" *ngIf = "isCustomer()" (click)="buyPolicy(policies)"> Buy </button>
  <button *ngIf = "isPayer()" routerLink="/update-policy/{{policyId}}" class="btn btn-primary"> Update</button>    
  </div>
</div>
