
<div class="card p-4">
  <div class="card-personal-wrapper">

    <div class="card-body p-2">
      <h1> {{property.Name}} </h1>
      <h2> {{property.Type}} </h2>
      <h3> {{property.Price}} </h3>

      <ul class="list-inline text-center member-icons">
        <li class="list-inline-item">
          <button class="btn btn-primary"> E </button>
        </li>
        <li class="list-inline-item">
          <button class="btn btn-primary"> C </button>
        </li>
      </ul>
    </div>
  </div>
</div>
